# Start a PySpark application

In [1]:
# edit port number according to what's defined in spark-base.Dockerfile
from pyspark.sql import SparkSession
spark = SparkSession.\
        builder.\
        appName("process_parquet").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        getOrCreate()

23/03/29 06:58:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Read the parquet files

In [2]:
df_yellow = spark.read.parquet("./data/raw/yellow_tripdata_2020-01.parquet")
df_green = spark.read.parquet("./data/raw/green_tripdata_2020-01.parquet")
df_fhv = spark.read.parquet("./data/raw/fhv_tripdata_2020-01.parquet")

# Check out the schema of the file

In [26]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: double (nullable = true)
 |-- SR_Flag: integer (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

# Change the schema of the file
Change all columns with LongType to IntegerType.

In [6]:
from pyspark.sql.functions import col
df_yellow = df_yellow\
        .withColumn('VendorID', col('VendorID').cast('integer'))\
        .withColumn('PULocationID', col('PULocationID').cast('integer'))\
        .withColumn('DOLocationID', col('DOLocationID').cast('integer'))\
        .withColumn('payment_type', col('payment_type').cast('integer'))

# df_yellow.show()
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

To cast all the columns to the same type

In [12]:
from pyspark.sql.functions import col
df_eg = df_yellow.select(*(col(c).cast("integer").alias(c) for c in df_yellow.columns))
df_eg.show()
# df_eg.printSchema()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1|          1577838495|           1577838783|              1|            1|         1|              null|         238|         239|           1|          6|    3|      0|         1|           0|                    0|          11|                   2|
|       1|          1577838939|           1577839384|              1|            1|         1|              null|         239|         238|           1|          7|    3|      0|         1|           0|                    0|          12|                   2|
|       1|          1577839661|           1577840032|              1|            0|         1|              null|         238|         238|           1|          6|    3|      0|         1|           0|                    0|          10|                   2|
|       1|          1577840123|           1577840414|              1|            0|         1|              null|         238|         151|           1|          5|    0|      0|         1|           0|                    0|           8|                   0|
|       2|          1577836918|           1577837056|              1|            0|         1|              null|         193|         193|           2|          3|    0|      0|         0|           0|                    0|           4|                   0|
|       2|          1577837384|           1577837437|              1|            0|         1|              null|           7|         193|           2|          2|    0|      0|         0|           0|                    0|           3|                   0|
|       2|          1577839165|           1577839169|              1|            0|         1|              null|         193|         193|           1|          2|    0|      0|         0|           0|                    0|           3|                   0|
|       2|          1576682869|           1576682939|              1|            0|         5|              null|         193|         193|           1|          0|    0|      0|         0|           0|                    0|           2|                   2|
|       2|          1576683035|           1576683095|              4|            0|         1|              null|         193|         193|           1|          2|    0|      0|         0|           0|                    0|           6|                   2|
|       1|          1577838541|           1577839228|              2|            0|         1|              null|         246|          48|           1|          8|    3|      0|         2|           0|                    0|          14|                   2|
|       1|          1577840111|           1577841123|              2|            2|         1|              null|         246|          79|           1|         12|    3|      0|         1|           0|                    0|          17|                   2|
|       1|          1577839035|           1577839901|              1|            0|         1|              null|         163|         161|           2|          9|    3|      0|         0|           0|                    0|          13|                   2|
|       1|          1577840187|           1577841704|              1|            3|         1|              null|         161|         144|           1|         17|    3|      0|         4|           0|                    0|          24|                   2|
|       2|          1577838114|           1577838451|              1|            1|         1|              null|          43|         239|           1|          6|    0|      0|         1|           0|                    0|          11|                   2|
|       2|          1577839081|           1577841321|              1|            7|         1|              null|         143|          25|           1|         28|    0|      0|         4|           0|                    0|          37|                   2|
|       1|          1577837735|           1577838426|              3|            1|         1|              null|         211|         234|           2|          9|    3|      0|         0|           0|                    0|          12|                   2|
|       1|          1577839280|           1577839462|              1|            0|         1|              null|         234|          90|           1|          4|    3|      0|         1|           0|                    0|           8|                   2|
|       1|          1577840198|           1577841214|              1|            1|         1|              null|         246|         142|           2|         11|    3|      0|         0|           0|                    0|          15|                   2|
|       2|          1577837301|           1577838329|              1|            8|         1|              null|         138|         216|           2|         24|    0|      0|         0|           0|                    0|          25|                   0|
|       1|          1577838339|           1577838425|              1|            0|         1|              null|         170|         162|           4|          3|    3|      0|         0|           0|                    0|           6|                   2|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [13]:
# Writing the processed files
df_eg.write.parquet('./data/processed/yellow_tripdata_2020-01.parquet')

# Processing all the parquet files we are going to process

Converting columns with LongType to Integer Type for the data files.

## Yellow Taxi

In [24]:
from pyspark.sql.functions import col

year_list = [2020, 2021]
for year in year_list:
    for month in range(1, 13):
        # for month to always have 2 digits
        month = str(month).zfill(2)
        print(f'processing data for {year}/{month}')
        
        # read the parquet file
        df_yellow = spark.read.parquet(f'./data/raw/yellow_tripdata_{year}-{month}.parquet')
        
        # convert long to integer type in schema
        df_yellow = df_yellow\
        .withColumn('VendorID', col('VendorID').cast('integer'))\
        .withColumn('PULocationID', col('PULocationID').cast('integer'))\
        .withColumn('DOLocationID', col('DOLocationID').cast('integer'))\
        .withColumn('payment_type', col('payment_type').cast('integer'))
        
        # cast all the data to integer type
        df_proc = df_yellow.select(*(col(c).cast("integer").alias(c) for c in df_yellow.columns))
        
        # write df_proc to a new parquet file
        df_proc.write.parquet(f'./data/processed/yellow_tripdata_{year}-{month}.parquet')

processing data for 2020/01

processing data for 2020/02

processing data for 2020/03

processing data for 2020/04
processing data for 2020/05
processing data for 2020/06

processing data for 2020/07

processing data for 2020/08

processing data for 2020/09

processing data for 2020/10

processing data for 2020/11

processing data for 2020/12

processing data for 2021/01

processing data for 2021/02

processing data for 2021/03

processing data for 2021/04

processing data for 2021/05

processing data for 2021/06

processing data for 2021/07

processing data for 2021/08

processing data for 2021/09

processing data for 2021/10

processing data for 2021/11

processing data for 2021/12

## Green Taxi

In [28]:
from pyspark.sql.functions import col

year_list = [2020, 2021]
for year in year_list:
    for month in range(1, 13):
        # for month to always have 2 digits
        month = str(month).zfill(2)
        print(f'processing data for {year}/{month}')
        
        # read the parquet file
        df_green = spark.read.parquet(f'./data/raw/green_tripdata_{year}-{month}.parquet')
        
        # convert long to integer type in schema
        df_green = df_green\
        .withColumn('VendorID', col('VendorID').cast('integer'))\
        .withColumn('PULocationID', col('PULocationID').cast('integer'))\
        .withColumn('DOLocationID', col('DOLocationID').cast('integer'))
        
        # cast all the data to integer type
        df_proc = df_green.select(*(col(c).cast("integer").alias(c) for c in df_green.columns))
        
        # write df_proc to a new parquet file
        df_proc.write.parquet(f'./data/processed/green_tripdata_{year}-{month}.parquet')

processing data for 2020/01

processing data for 2020/02

processing data for 2020/03
processing data for 2020/04
processing data for 2020/05
processing data for 2020/06
processing data for 2020/07
processing data for 2020/08
processing data for 2020/09
processing data for 2020/10
processing data for 2020/11
processing data for 2020/12
processing data for 2021/01
processing data for 2021/02
processing data for 2021/03
processing data for 2021/04
processing data for 2021/05
processing data for 2021/06
processing data for 2021/07
processing data for 2021/08
processing data for 2021/09
processing data for 2021/10
processing data for 2021/11
processing data for 2021/12

## For-Hire Vehicle

There are no columns with LongType, hence no conversion is done for this data set.